<section id="hero" style="background-color: rgb(231, 245, 231);">
    
            <div class="" >
                
                 
                    <div>
                        <img src="../assets/img/doctors/Hospital-Header.jpg" height="426vh" width="100%" >
                    </div>
                       
            </div>
            <div>
                <div class="footer">
            
                    <div class="container">
                        <h6>© 2022 Copyright:Holton@hospital.com</h6>
                        <span class="text-center">All rights reserved by @Holton Community Hospital...</span>   
                    </div>
            
                </div>
              
            
            </div>

</section>

